@use '../custom' as *;

footer{
  position: absolute;
  left: 1rem;
  bottom: .5rem;
  color: $gray-700;
  z-index: 9;
  
  a{
    color: $gray-700;
    text-decoration: none;

    &:hover{
      color: $gray-700;
    }
  }
}