@use '../custom' as *;

.hero-wrapper {
  position: relative;
}

.menu {
  position: absolute;  
  left: 42%;
  // transform: translate(-50%, 0);
  background-color: transparent;
  z-index: 9;

  a{
    color: $white !important;
  } 
}

.video-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  z-index: 1;
  @media (min-width: 600px) {
    height: 100vh;
  }

  span {
    background-color: rgba(6, 6, 7, .95);
    position: absolute;
    height: 100%;
    width: 100%;
  
    overflow: hidden;
    top: 0;
    z-index: 2;
    @media (min-width: 600px) {
      height: 100vh;
    }
  }

  img{
    position: absolute;
    bottom:1.5rem;
    left:0;
    right:0;
    margin: auto;
    z-index: 9;
    animation: blink 6s;

    @include media-breakpoint-up(md){
      bottom:1;
    }

    @keyframes blink{
      0%{
        opacity: 1;
      }
      12%{
        opacity:0;
      }
      15%{
        opacity:1;
      }
      17%{
        opacity: 0;
      }
      19%{
        opacity:1;
      }

      32%{
        opacity:0;
      }
      35%{
        opacity:1;
      }
      37%{
        opacity: 0;
      }
      39%{
        opacity:1;
      }

      52%{
        opacity:0;
      }
      55%{
        opacity:1;
      }
      57%{
        opacity: 0;
      }
      59%{
        opacity:1;
      }
      100%{
        opacity: 1;
      }

    }
  }

  
}

video {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
